@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
input,
textarea {
    font-family: 'Baloo 2', cursive;
}

header {
    background-color: rgb(44, 1, 161);
    padding: 12px 0;
    color: #fcdcde;
}

header h1 {
    font-size: 2.2em;
}

.container,
main {
    max-width: 1180px;
    margin: auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 124px;
}

header ul li {
    margin-left: 32px;
}

header a {
    color: #fcdcde;
    font-size: 1.4em;
    text-decoration: none;
}

header a:hover {
    color: #fcdcde7a;
}

section h2 {
    font-size: 1.8em;
}

#projects {
    background-color: #fcdcde;
    padding: 16px;
    border-radius: 8px;
}

#projects,
#about-me,
#contact {
    margin: 68px 0;
}

#projects ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-height: 280px;
}

#projects ul li,
#contact ul li,
header ul li {
    display: inline;
}

#imagens img,
#about-me img {
    height: 220px;
    margin-right: 16px;
}

#imagens img {
    margin-top: 32px;
}

#about-me {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #fcdcde;
    border-radius: 8px;
}

#about-me img {
    height: 400px;
}

#contact .container {
    display: flex;
    justify-content: space-between;
}

h2, h3 {
    text-align: center;
    margin-bottom: 16px;
    
}

#contact img {
    height: 32px;
}

#contact ul,
form input,
.adress p {
    margin-top: 8px;
}

#contact ul li {
    margin-right: 16px;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
button,
textarea {
    border-radius: 8px;
    display: block;
    width: 328px;
    padding: 8px;
    margin-bottom: 8px;
}

form input:focus, textarea:focus {
    outline-color: rgb(44, 1, 161);
    background-color: rgba(44, 1, 161, 0.11);
}

form button {
    background-color: rgb(44, 1, 161);
    color: #fcdcde;
    font-weight: bolder;
    border: none;
}

textarea {
    resize: none;
    height: 180px;
}

footer {
    padding: 24px;
    background-color: rgb(44, 1, 161);
    color: #fcdcde;
    text-align: center;
}






